*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    font-family: 'pt sans';
}

.flex {
    display: flex;
}


/* HEADER */

header {
    background-color: #0084fd;
    width: 100%;
    height: 70px;
    justify-content: center;
}

.h1-container {
    width: 70%;
    height: 70px;
    align-items: center;
    justify-content: space-between;

}

div.h1-left {
    width: 50%;
    
}


.h1-right li {
    display: inline;
}


/* TOP-CARDS-CONTAINER */

section.top-cards-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.cards {
    background-color: white;
    width: 70%;
    flex-wrap: wrap;
}

div.card {
    background-color: #b5ddff;
    border-radius: 2rem;
    width: calc(90% /3);
    height: 15rem;
    margin: 1rem 1rem;
    text-align: center;

}


.card:first-child {
    width: calc((94.5%/3)*2);

}

.card:first-child h3 {
    color: #0084fd;
    margin: 1rem 1rem;
    font-weight: bold;

}

.card:first-child p {
    margin: 1rem 1rem;
    color: #617689;
    font-weight: bold;
}

.card:first-child button {
    background-color: #0084fd;
    color: white;
    width: 12rem;
    height: 3rem;
    border-radius: 3rem;
    border: none;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1rem 1rem;
}

#phone {
    width: 200px;
    height: 200px;
}

.first-card-left {
    width: 60%;
}

.first-card-right {
    width: 40%;
    padding: 2.4rem;
}

.fa-sharp  {
    color: #0084fd;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.card h3 {
    margin: 1rem;
    color: #0084fd;
    font-weight: bold;
}

.card p {
    color: #617689 ;
    font-weight: bold;
    font-size: 0.9rem;
}

/* STRATEGIC PLAN */

section.strategic-plan-container {
    background-color: #9792e4;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.strategic-plan {
    width: 70%;
    align-items: center;
    justify-content: center;
}

div.plan-left {
    width: 35%;
    height: 400px;
    text-align: center;

}

div.plan-right {
    width: 35%;
    height: 400px;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
}

#sitting-woman {
    width: 12rem;
    height: 12rem;
    margin-top: 2rem;
}

.plan-left h3 {
    color: white;
    margin: 2rem;
}

.plan-left p {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    opacity: 70%;
    margin: 0 2rem;
}

#man-idea {
    width: 10rem;
    height: 10rem;
}


div.plan-right-container {
    background-color: white;
    border-radius: 3rem;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}

.plan-right-container h4 {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 1rem;

}

.plan-right-container p {
    font-size: smaller;
    margin: 0 2rem;
    font-style: italic;
}

.plan-right-container .fa-sharp {
    background-color: #9792e4;
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 3rem;
    color: black;
    font-size: 1.5rem;
    margin-top: 2rem;
}


/* EXPERT PARTNERS */

section.expert-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.first-card-left {
    width: 100%;
}

.first-card-right {
    width: 100%;
}

div.expert {
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div.title-expert {
    width: 100%;
    text-align: center;
}

.title-expert span {
    text-transform: uppercase;
}

.title-expert h2 {
    color: #9792e4;
    font-size: 2rem;
    margin: 1rem;

}



div.expert-name {
    background-color: #9792e4;
    border-radius: 3rem;
    width: 100%;
    margin-top: 2rem;
    align-items: center;
}

.expert-name img {
    width: 8rem;
    height: 8rem;
    border-radius: 5rem;
    overflow: hidden;
    margin: 2rem 2rem;
}

.expert-name-right {
    margin: 2rem;
}

.expert-name-right p {
    color: white;
    opacity: 70%;
}

.expert-name-right h3 {
    color: white;
    margin-top: 1rem;
    text-transform: uppercase;
}


/* MIDDLE-CARDS */

section.middle-cards-container {
    background-color: green;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.middle-cards {
    background-color: blue;
    width: 70%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div.middle-card-h2 {
    background-color: yellow;
    width: 100%;
    height: 50px;
}

div.middle-card {
    border: 1px solid black;
    background-color: #9792e4;
    width: calc(90%/3);
    height: 200px;
    margin-left: 1rem;
}


/* ABOUT US */

section.about-us-container {
    background-color: purple;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.about-us {
    background-color: white;
    width: 70%;
}

div.about-us-left {
    background-color: lightcoral;
    width: 70%;
    height: 500px;
}

div.about-us-right {
    background-color: brown;
    width: 30%;
    height: 500px;
}

/* FREE */

section.free-container {
    background-color: blanchedalmond;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

div.free {
    background-color: blue;
    width: 70%;
    height: 450px;
}

/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    height: 200px;
}



/* RESPONSIVE */

@media screen and (max-width: 480px) {
    section.top-cards-container {
        background-color: white;
    }

    .card:first-child {
        flex-direction: column;
        height: 32.4rem;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-top: 1.5rem;
    
    }

    div.card {
        width: 100%;
        height: 18rem;
        margin-top: 1.5rem;


    }

    section.strategic-plan-container {
        background-color: #9792e4;
    }

    div.strategic-plan {
        flex-wrap: wrap;
    }

    div.plan-left {
        width: 100%;
    }

    div.plan-right {
        width: 100%;
        margin-top: 2.5rem;
    }

    div.plan-right-container {
        margin: 0;
        margin-bottom: 2rem;
    }

    div.title-expert {
        width: 100%;
    }

    .expert-name {
        flex-wrap: wrap;
        text-align: center;
    }

    .expert-name img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        margin-left: 3rem;
    }
    .expert-name-right {
        width: 100%;
        flex-wrap: wrap;
    }



    div.middle-card-h2 {
        width: 100%;
    }

    div.middle-card {
        width: 100%;
        margin-top: 2rem;
    }

    div.about-us {
        flex-wrap: wrap;
    }

    div.about-us-left {
        width: 100%;
    }

    div.about-us-right {
        width: 100%;
    }



}

