*,
*::after,
*::before {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.flex {
    display: flex;
}


/* HEADER */

header {
    background-color: #076ac5;
    width: 100%;
    height: 70px;
    justify-content: center;
}

.h1-container {
    background-color: red;
    width: 70%;
    height: 70px;

}

div.h1-left {
    width: 50%;
    
}


.h1-right li {
    display: inline;
}


/* TOP-CARDS-CONTAINER */

section.top-cards-container {
    background-color: green;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.cards {
    background-color: white;
    width: 70%;
    flex-wrap: wrap;
    padding: 1.5rem;
}

div.card {
    background-color: aqua;
    border: 1px solid black;
    width: calc(90% /3);
    height: 15rem;
    margin: 1rem 1rem;

}


.card:first-child {
    width: calc((94.5%/3)*2);

}

/* STRATEGIC PLAN */

section.strategic-plan-container {
    background-color: #9792e4;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.strategic-plan {
    background-color: white;
    width: 70%;
    align-items: center;
}

div.plan-left {
    background-color:green;
    width: 50%;
    height: 400px;

}

div.plan-right {
    background-color:sienna;
    width: 50%;
    height: 400px;

}


/* EXPERT PARTNERS */

section.expert-container {
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.expert {
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

div.title-expert {
    background-color: red;
    width: 100%;
    height: 150px;
}

div.expert-name {
    background-color: red;
    width: 100%;
    height: 150px;
    margin-top: 2rem;
}


/* MIDDLE-CARDS */

section.middle-cards-container {
    background-color: green;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.middle-cards {
    background-color: blue;
    width: 70%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

div.middle-card-h2 {
    background-color: yellow;
    width: 100%;
    height: 50px;
}

div.middle-card {
    border: 1px solid black;
    background-color: #9792e4;
    width: calc(90%/3);
    height: 200px;
    margin-left: 1rem;
}


/* ABOUT US */

section.about-us-container {
    background-color: purple;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div.about-us {
    background-color: white;
    width: 70%;
}

div.about-us-left {
    background-color: lightcoral;
    width: 70%;
    height: 500px;
}

div.about-us-right {
    background-color: brown;
    width: 30%;
    height: 500px;
}

/* FREE */

section.free-container {
    background-color: blanchedalmond;
    width: 100%;
    height: 500px;
    justify-content: center;
    align-items: center;
}

div.free {
    background-color: blue;
    width: 70%;
    height: 450px;
}

/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    height: 200px;
}



/* RESPONSIVE */

@media screen and (max-width: 480px) {
    section.top-cards-container {
        background-color: white;
    }

    .card:first-child {
        flex-direction: column;
        height: 30rem;
        width: 100%;
    }

    div.card {
        width: 100%;
        margin-top: 1.5rem;
    }

    section.strategic-plan-container {
        background-color: white;
    }

    div.strategic-plan {
        flex-wrap: wrap;
    }

    div.plan-left {
        width: 100%;
    }

    div.plan-right {
        width: 100%;
    }

    div.title-expert {
        width: 100%;
    }

    div.expert-name {
        width: 100%;
    }

    div.middle-card-h2 {
        width: 100%;
    }

    div.middle-card {
        width: 100%;
        margin-top: 2rem;
    }

    div.about-us {
        flex-wrap: wrap;
    }

    div.about-us-left {
        width: 100%;
    }

    div.about-us-right {
        width: 100%;
    }



}

